* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.images {
    width: 200px;
    height: 100px;
    display: none;
}

.imagess {
    width: 100%;
    height: 100%;
    display: none;
}

#banner {
    background-image: linear-gradient(to right, skyblue, darkseagreen);
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 100%;
}

#formPart {
    margin-bottom: 20px;
}

#btns {
    margin-bottom: 10px;
}

button,
input[type=file],
input[type=email] {
    font-size: 1rem;
}

input[type=file] {
    margin-bottom: 10px;
}

input[type=text],
label {
    font-size: 1rem;
}

#frames {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: scroll;
}


@media only screen and (max-width:667px) {
    div {
        display: block !important;
    }

    input[type=file] {
        display: block;
    }

    .opt {
        margin-bottom: 5px;
    }

    input[type=text] {
        margin-left: 0;
        display: block;
        margin-top: 0;
        width: 100%;
    }

    .question {
        padding-bottom: 5px;
    }

}
